/*重写toast层级*/
.el-form-item__label__none_float{
    float: none;
}

.el-button--primary.is-active, .el-button--primary:active {
    background: #00923F;
    border-color: #00923F;
    color: #FFF;
  }
  
  .el-button--primary:focus, .el-button--primary:hover {
      background: #00923F;
      border-color: #00923F;
      color: #FFF;
  }
  .el-button--primary {
      color: #FFF;
      background-color: #00923F;
      border-color: #00923F;
  }
  .el-menu-item.is-active {
    background-color: #CCE9D9 !important;  
  }

